/* -------------------------------- 搜索栏 ------------------------------- */

.am-search {
  position: relative;
  // top: 0; // override by js
  // left: 0; // override by js
  width: 500px;
  display: inline-block;
  box-sizing: border-box;
  z-index: 100; // 高于多级菜单
  color: var(--ab-tab-root-tx-color);
  background-color: var(--ab-menu-bg-color);
  border-radius: 8px;

  input.am-search-input {
    height: 32px;
    width: 100%;
    box-sizing: border-box;

    padding: 0 12px;
    border: none;
    outline: none;
    color: var(--am-text-color);
    background-color: var(--am-background-color);
    border-radius: 8px;
    // box-shadow: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
}

/* -------------------------------- 输入建议 ----------------------------- */
/* 建议列表 */
.am-panel.reverse .am-search .am-search-suggestion {
  top: unset;
  bottom: 100%;
}
.am-search .am-search-suggestion {
  // .autocomplete-items
  width: 500px;
  // max-height: 400px;
  max-height: 260px; // (28*9+8+0)
  box-sizing: border-box;
  position: absolute;
  // transform: translate(0, 2px);
  left: 0;
  right: 0;
  top: 100%;
  bottom: unset;

  padding: 4px;
  border-radius: 8px;
  background-color: var(--ab-menu-bg-color);
  opacity: 0.98;
  border: 1px solid var(--ab-tab-root-bd-color);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  overflow-y: auto;
  color: var(--ab-tab-root-tx-color);
  // old z-index: 12;
  z-index: 100;

  /* 建议列表项 */
  >div.item {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 28px; // (20+8+0)
    max-height: 98px; // 三行半
    line-height: 20px;
    margin: 0;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;

    &:hover {
      background-color: var(--ab-tab-root-hv-color);
    }

    // Alt+Key 快捷键提示
    &::after {
      content: attr(data-altkey); // counter(alt-index);
      display: none;
      position: absolute;
      right: 3px;
      top: unset;
      font-size: 12px;
      opacity: 0.6;
      // color: var(--ab-tab-root-tx-color); // 这个暗一点
      color: #ffffff;
    }

    // TODO value 有可能是多行文本，这里最好是有个flag来说明是不是多行，以使用不同样式
    >.value {
      text-overflow: ellipsis;
      white-space: pre-wrap;
      overflow: hidden;
      height: auto;
      min-height: 20px;
      max-height: 70px; // 三行半
    }
    >.key {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10px;
      height: 20px;
    }

    &.focus-active {
      background-color: var(--am-bright-color) !important; // 优先于 :hover
      color: #ffffff;
    }
  }
}

/* --------------------------------- 图片搜索建议 ----------------------------- */
.am-search .am-search-suggestion.img-mode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
  min-width: 700px;
  min-height: 350px;

  /* 建议列表项 */
  >div.item {
    box-sizing: border-box;
    flex-direction: column;
    width: calc((100% - 48px) / 6); // 控制一行 n 个: 需减去 gap*(n-1)，并除以 n
    // 备用: calc((100% - 24px) / 4), calc((100% - 32px) / 5), calc((100% - 48px) / 6)
    max-height: unset;

    .img {
      width: 100%;
      aspect-ratio: 1 / 1;  // 高度同宽度
      object-fit: cover;    // 裁剪
      margin: 0;
      padding: 0;
    }

    .key {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}
